.appContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.appFormContainer {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.appListAndFormContainer {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: flex-start;
}

.appCourseScheduleContainer {
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-start;
}