.appContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.appFormContainer {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.appListAndFormContainer {
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 1em;
}

.appCourseScheduleContainer {
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1em;
}
.cardContentStyle{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    width: 10em;
    height: 6em;
    text-align: center;
}