.container {
    border: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.buttonCourseAndPreReqContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 1rem;
    padding-right: 1rem;
}