.container {
    border: solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2em;
    padding: 1em;
}

.buttonCourseAndPreReqContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}